name : Deploy to EC2

'on':
   push:
      branches:
         - main
jobs:
   deploy:
      runs-on: ubuntu-latest
      steps:
         - name: Deploy to EC2
           uses: appleboy/ssh-action@v1.0.0
           with:
              host: ${{secrets.EC2_HOST}}
              username: ${{secrets.EC2_USERNAME}}
              key: ${{secrets.EC2_SSH_KEY}}
              script: |
                 git pull origin main
                 chmod +x ./deploy.sh  # 실행 권한 확실히 주기
                 ./deploy.sh
